@import "tailwindcss";
@plugin "daisyui" {
  themes: nord;
}

:root {
  --primary: #ffffff;
  --primary-light: rgba(213, 213, 216, 0.38);
  --secondary: #056760;
  --secondary-light: #00eaff;
  --secondary-dark: #023a3a;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: black;
  background-color: transparent;
}